/*
 * HEADER STYLES
 */
.hdr-wrapper {
    margin: 0 auto;
    min-height: 100px;
}

.hdr-wrapper h1 {
    font-size: 2em;
    margin-top: 5px;
    padding-top: .7em;
}

.hdr-wrapper .hdr-smallLogo {
    float: left;
    margin-right: .5em;
}

.hdr-wrapper .hdr-largeLogo {
    display: none;
    margin: 0 auto;
}

.hdr-inner {
    text-align: center;
    margin-left: 73px;
}

.nav-tabs {
    font-size: 14px;
    margin: 0 auto;
    padding-left: 1%;
}

#s-lg-guide-tabs-title-bar {
    border:none;
}

/*
 * FOOTER STYLES
 */
.ftr-wrapper {
    min-height: 40px;
    margin: 0 auto;
    background: grey;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: .5em;
    text-align: center;
}

.ftr-wrapper a:link, .ftr-wrapper a:visited {
    color: white;
}

/*
 * QUICKSEARCH STYLES
 */
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

#search-wrapper {
    position: relative;
    letter-spacing: 0.02rem;
    font-family: "Source Sans Pro", "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tab-links:after {
    display: block;
    clear: both;
    content: '';
}

.tab-links {
    text-align: center;
}

.tab-links a {
    padding: 9px 15px;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    transition: all linear 0.15s;
    text-decoration: none;
    color: black;
}

.tab-links a.selected h4 {
    color: #00a0df;
}

.tab-label {
    color: #000000;
}

input.searchbox {
    height: 40px;
    width: 100%;
    padding-left: .6rem;
    font-size: 1.2rem;
    border: 2px solid #0069aa;
}

input.headersubmit {
    border: 0;
    height: 40px;
    width: 100%;
    background-color: #0069aa;
    color: #ffffff;
    font-size: 1.8rem;
    font-family: 'FontAwesome', sans-serif;
    cursor: pointer;
}

select.custom-dropdown-menu {
    background: transparent;
    padding: 5px;
    font-size: 14px;
    border: 2px solid #0069aa;
    height: 40px;
    width: 100%;
    cursor: pointer;
}

#advanced-search {
    line-height: 0;
    margin-top: 20px;
    font-size: .8em;
    text-decoration: none;
    color: #0069aa;
}

#qsb-links {
    font-size: 1.3em;
}

#qsb-links, .cal-wrapper, #s-lg-content-14464848, #s-lg-content-14517546 {
    text-align: center;
}

/*
 * HOMEPAGE HOURS STYLES
 */
.library-hours {
    min-height: 150px;
}

.cal-wrapper, .cal-timeWrapper, .ref-timeWrapper {
    display: none;
}

.cal-status, .ref-status {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 16px;
}

.cal-wrapper h3 {
    font-size: 20px;
    margin-top: 0;
}

.cal-openThroughClose, .ref-openThroughClose {
    font-weight: bold;
}

/*
 * CONTEXT MENU ON LEFT OF HOMEPAGE STYLES
 */
.cmn-subMenu {
    width: 124px;
    height: 25px;
    background: grey;
    font-weight: bold;
    text-align: center;
    padding-top: .1em;
    font-size: 14px;
}

.cmn-wrapper ul {
    display: none;
    list-style: none;
    padding-left: 0;
}

.cmn-wrapper p a:link, .cmn-wrapper p a:visited {
    color: white;
}

.cmn-wrapper .social-icons {
    margin: .5em 0 .5em 1.7em;
}

.cmn-wrapper .social-icons i {
    margin-right: .5em;
}

#s-lg-box-wrapper-8574374, .cmn-wrapper {
    display: none;
}

/*
 * PRINT AND MICROFILM PERIODICALS EXPLANATION PAGE STYLES
 */
.pam-infoTell {
    min-height: 200px;
}

.pam-eJournalLoadSpin {
    width: 70px;
    margin: 35px auto;
    display: none;
}

#lcs_slide_out-9020 {
    right: 0;
    font-size: 1.2em;
    left: auto;
}

.lcs_slide_out-b header a {
    right: 10%;
    left: auto !important;
}

.lcs_slide_out-b.open header a {
    top: -50px;
}

/* DON'T SHOW THESE ON MOBILE */
#s-lg-box-wrapper-8768556, #s-lg-box-wrapper-8768570, #s-lg-box-wrapper-8768263, #s-lg-box-wrapper-8768269, .pam-notElectronic {
    display: none;
}

#contacts-table td {
    padding: 10px;
}

@media screen and (min-width: 768px) {

    .hdr-wrapper h1 {
        font-size: 36px;
    }

    .hdr-wrapper img.hdr-largeLogo {
        display: block;
    }

    .hdr-wrapper img.hdr-smallLogo, .hdr-wrapper .hdr-inner {
        display: none;
    }

    .ftr-wrapper {
        width: 750px;
    }
}

@media screen and (min-width: 992px) {

    .nav-tabs.split-button-nav .dropdown-toggle {
        float: left;
    }

    .hdr-wrapper {
        background: #1a4d8c;
        width: 992px;
    }

    #search-wrapper {
        padding-right: 33%;
        padding-left: 5%;
    }

    .ftr-wrapper {
        width: 970px;
    }

    #s-lg-box-wrapper-8574374, .cmn-wrapper {
        display: block;
    }

    .newRandomBoxes {
        min-height: 215px;
        margin-top: 3em;
        margin-left: 7%;
    }
}

@media screen and (min-width: 1200px) {

    .hdr-wrapper {
        width: 1170px;
    }

    .ftr-wrapper {
        width: 1170px;
    }

    #lcs_slide_out-9020 header a {
        right: auto;
        left: 10px;
    }
}
