//WorldCat Local Search box styles
//These are being deprecated
.qsb-form {
    width: 65%;
    min-width: 250px;
    margin: 0 auto;

    fieldset {
	    border: solid 1px black;
	    margin-top: 0;
	    text-align: center;
	    z-index:5;//Above regular lis for tabs at top
	}
	//Tabs at top
	ul {
	    margin: 0;
	    padding-left: 0;
	    list-style-type: none;
	    text-align:center;
	}
	li {
	    display: inline;
	    border: solid 1px lightgray;
	    border-bottom: none;
	    padding: .6em .5em .3em .6em;
	    z-index:4;//Below main fieldset
	}
	.qsb-searchTabs a:active,
	.qsb-searchTabs a:link,
	.qsb-searchTabs a:visited {
	    text-decoration: none;
	    color: black;
	}
	li a.qsb-searchTabSelected {
	    font-weight: bold;
	    color: black;
	    outline: none;
	}
	li.qsb-tabParent {
	    border-color: black;
	    border-bottom: 1px solid white;
	    z-index:6;//above main fieldset
	}
	//End tabs
	input {
	    margin: 1em;
	    padding: 0 .4em;
	}
	input[type=text] {
	    width: 40%;
	    min-width: 200px;
	    padding: .4em;
	}
	input[type=submit] {
	    background: #2178B5;
	    color: white;
	    font-weight: bold;
	    display: block;
	    margin: 0 auto;
	    margin-bottom: 1em;
	}
}

//Discovery Migration
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

//Tabs
#search-wrapper {
    position:relative;
    letter-spacing: 0.02rem;
    font-family: "Source Sans Pro","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

//Tab links
// Clearfix
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links {
    text-align:center;
}

.tab-links a {
    padding:9px 15px;
    display:inline-block;
    font-size:16px;
    font-weight:600;
    transition:all linear 0.15s;
    text-decoration:none;
    color: rgb(0, 0, 0);
}

.tab-links a.selected h4 {
   color: rgb(0,160,223);
}

.tab-label {
    color: #000000;
}

input.searchbox {
    height: 40px;
    width: 100%;
    padding-left: .6rem;
    font-size: 1.2rem;
    border: 2px solid rgb(0,105,170);
}

input.headersubmit {
    border:0;
    height: 40px;
    width: 100%;
    background-color: rgb(0,105,170);
    color: #ffffff;
    font-size: 1.8rem;
    font-family: 'FontAwesome', sans-serif;
    cursor: pointer;
}

select.custom-dropdown-menu {
    background: transparent;
    padding: 5px;
    font-size: 14px;
    border: 2px solid rgb(0,105,170);
    height: 40px;
    width: 100%;
    cursor: pointer;
}

#advanced-search {
    line-height: 0;
    margin-top: 20px;
    font-size: .8em;
    text-decoration: none;
    color: rgb(0,105,170);
}
//End searchbox styles

#qsb-links, .cal-wrapper, #s-lg-content-14464848, #s-lg-content-14517546 {
    text-align: center;
}

//Begin library calendar styles
.cal-wrapper, .cal-timeWrapper {
	display:none;
}
.cal-status {
	text-transform: capitalize;
	font-weight:bold;
	font-size: 16px;
}

.cal-wrapper h3 {
    font-size: 20px;
    margin-top: 0;
}

.cal-openThroughClosed {
	font-weight:bold;
}

#s-lg-box-7280173, #s-lg-box-7300006 {
    margin: 0;
}
//End library calendar styles

//Begin context menu sidebar nav styles
.cmn-subMenu {
    width: 124px;
    height: 25px;
    background: grey;
    font-weight: bold;
    text-align: center;
    padding-top: .1em;
    font-size: 14px;
}
.cmn-wrapper {
    ul {
	    display: none;
	    list-style: none;
	    padding-left: 0;
    }
    p a:link, p a:visited {
    	color:white;
    }
}

#s-lg-box-wrapper-8574374, .cmn-wrapper {
	display:none;
}
//End sidebar styles
