@media screen and (min-width:1200px){
  .hdr-wrapper {
    width: 1170px;
  }

  .ftr-wrapper {
      width: 1170px;
  }
  
  #lcs_slide_out-9020 header a {
      right: auto;
      left: 10px;
  }
}
