@media screen and (min-width:992px) {
  .hdr-wrapper {
    background: #1a4d8c;
    width: 992px;
  }

  .ftr-wrapper {
      width: 970px;
  }

  #s-lg-box-wrapper-8574374, .cmn-wrapper {
      display:block;
  }

  .qsb-form, .randomBoxes {
    margin-left: 5%;
    margin-top:10px;
  }
}
